# Python cache
__pycache__/
*.pyc
*.pyo

# Logs and data
user_activity.log


# System files
.DS_Store
Thumbs.db

# Env and secrets
.env

#old application file which gives full josn output of 200+ columns
app2.py



